@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  width: 100%;
}

header {
  width: 100%;
  height: 50px;
  background-color: #3c3a39;
}

nav {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.nav-content {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #423f3f;
  transition: ease 2s;
  transition: all ease 1s;

  /* display: none; */
}

.close-btn {
  float: right;
  margin: 10px;
  font-size: 2rem;
}

.nav-content.show {
  left: 0;
}

.nav-content ul {
  display: block;
  width: 90%;
  margin: auto;
}

.nav-items li {
  padding: 15px 24px;
  list-style: none;
  clear: both;
}

.nav-items li:not(:last-child) {
  border-bottom: 1px #6f6c6b solid;
}

.fa-envelope {
  display: none;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.nav-items li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.nav-items li .nav-link:hover {
  color: #e05304;
}

/* Home */
.home-section {
  background: #1c1a19 url("resources/Group.png") 100% 110% no-repeat;
  background-size: 120px;
  overflow: hidden;
}

.home {
  height: 590px;
  color: #fff;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .intro h1 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;
  padding-bottom: 10px;
  color: #ff6b00;
}

.home .job h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 50px;
}

.home .bio p {
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
}

.home .socials ul {
  display: flex;
}

.home .socials li {
  list-style: none;
}

.home .socials i {
  margin: 20px 20px 0 0;
  font-size: 20px;
  color: #fff;
  list-style: none;
}

.home .socials i:hover {
  color: #e05304;
}

/* Recent Works */
.recent-work .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recent-work .heading > .title {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
  padding-top: 120px;
}

.recent-work .line {
  min-width: 80%;
  height: 2px;
  background-color: #1c1a19;
  margin: 50px auto 80px auto;
}

.works {
  width: 87%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.works .main .poster {
  background: #ff6b00;
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works .main .poster img {
  width: 85%;
  box-shadow: -80px 70px 50px -70px rgba(0, 0, 0, 0.8), 80px 70px 50px -70px rgba(0, 0, 0, 0.8);
}

.works .main .description {
  padding: 0 24px;
}

.recent-work .works .description > .title {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  margin-bottom: 24px;
}

.description > .about {
  font-family: 'Inter', sans-serif;
}

.description > .lang ul {
  display: flex;
  margin-top: 12px;
}

.description > .lang > ul > li {
  border: #8993a4 1px solid;
  margin-right: 12px;
  padding: 10px 12px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.description a.btn {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background-color: #ff6b00;
  text-decoration: none;
  width: 124px;
  height: 48px;
  margin: 12px 0;
  border: none;
  display: block;
  text-align: center;
  line-height: 48px;
}

.card-block .card-pic.one {
  height: 338px;
  background: url("resources/aura.png") 100% no-repeat;
  background-size: cover;
}

.card-block .card-pic.two {
  height: 338px;
  background: url("resources/two.png") 100% no-repeat;
  background-size: cover;
}

.card-block .card-pic.three {
  height: 338px;
  background: url("resources/Three.png") 100% no-repeat;
  background-size: cover;
}

.card-block .card-pic.four {
  height: 338px;
  background: url("resources/four.png") 100% no-repeat;
  background-size: cover;
}

.card-block .card-pic .card-info {
  background:
    linear-gradient(
      180.45deg,
      rgba(
        38,
        38,
        38,
        0
      ) 0.75%,
      rgba(
        38,
        38,
        38,
        0.9
      ) 61.94%
    );
  flex-direction: column;
  justify-content: flex-end;
  height: 338px;
  display: flex;
  color: #fff;
  padding: 5%;
  opacity: 1;
}

.card-block .card-pic .card-info:hover {
  opacity: 0;
}

.card-block .card-pic .card-info .card-title {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 10px;
}

.card-block .card-discription {
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.card-block .card-lang > ul > li {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 10px;
  list-style: none;
  float: left;
}

.card-block .seemore a {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  display: block;
  height: 48px;
  width: 100%;
  background: #ff6b00;
  text-align: center;
  line-height: 48px;
}

.works:last-child {
  margin-bottom: 120px;
}

/* About Me */

#about-me {
  background: #1c1a19 url("resources/illustration-about-me-mobile.png") 100% 95% no-repeat;
}

#about-me .about-content {
  width: 87%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 120px 0 200px 0;
}

#about-me .about-content .heading {
  font-family: 'Crete Round', serif;
  font-size: 72px;
  color: #ff6b00;
  margin-bottom: 24px;
}

#about-me .about-content .bio {
  font-family: 'Inter', sans-serif;
  margin-bottom: 24px;
  line-height: 24px;
}

#about-me .about-content .resume a {
  width: 160px;
  height: 48px;
  display: block;
  line-height: 48px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  background: #ff6b00;
}

#about-me hr {
  width: 85%;
  margin: auto;
}

.personal-skill {
  background: #1c1a19;
}

.personal-skill-content {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 44px;
  text-align: center;
  padding: 130px 0;
}

.personal-skill-content .language .name {
  margin-bottom: 42px;
}

.personal-skill-content .language .name .obli-square {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(45deg);
}

.personal-skill-content .language .name .square {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.personal-skill-content .language .name .circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 50%;
}

.personal-skill-content .language .name span {
  margin: 0 40px 0 20px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.personal-skill-content .language .skill-title {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  list-style: none;
}

.personal-skill-content .language .skill-title:not(:last-child) {
  margin: 22px 0 22px 0;
}

#contact {
  width: 87%;
  margin: auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
}

#contact .contact-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}

#contact .form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form form .form-fill {
  padding: 0 12px;
  height: 50px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
}

.form form textarea {
  border: none;
  background: #fbfbf7;
  font-family: 'Inter', sans-serif;
  padding: 12px;
}

.form form button {
  height: 48px;
  width: 131px;
  margin: 25px auto;
  background: #ff6b00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.description a.btn:hover,
.card-block .seemore a.seemore-btn:hover,
#about-me .about-content .resume a:hover,
.form form button:hover {
  background: #fff5e1;
  color: #ff6b00;
  border: 1px solid #f55800;
}

.description a.btn:disabled,
.card-block .seemore a.seemore-btn:disabled,
#about-me .about-content .resume a:disabled,
.form form button:disabled {
  background: #f4f1f0;
}

.description a.btn:active,
.card-block .seemore a.seemore-btn:active,
#about-me .about-content .resume a:active,
.form form button:active {
  background: #e05304;
  color: #f4f1f0;
}

#contact hr {
  background: #e4e7ec;
}

footer .footer-icon {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 25px auto;
  list-style: none;
}

footer .footer-icon a.social-links .fa-brands {
  font-size: 20px;
  color: #505f79;
}

footer .mobile {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 0 auto 8px auto;
}

/* Desktop Versin (768px) */

@media (min-width: 768px) {
  header {
    height: 72px;
    padding: unset;
  }

  nav {
    font-size: 20px;
    width: 80%;
  }

  .nav-content {
    position: static;
    display: block;
    height: auto;
    width: auto;
    background: unset;
    left: 0;
  }

  .close-btn {
    display: none;
  }

  .nav-items li {
    border-bottom: unset;
    padding: 15px 15px;
  }

  .fa-envelope {
    display: block;
  }

  .nav-content ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  .nav-items li:not(:last-child) {
    border-bottom: unset;
  }

  .nav-items li a {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .menu-btn {
    display: none;

    /* color: red; */
  }

  /* Home */

  .home-section {
    background: #1c1a19 url("resources/desktop\ wallpaper.png") 100% 110% no-repeat;
    background-size: 590px;
  }

  .home {
    height: calc(100vh - 72px);
    width: 80%;
    margin: auto;
    padding: unset;
  }

  .home-content {
    width: 50%;
  }

  .home .intro h1 {
    font-size: 72px;
    margin-bottom: 24px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .home .job h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .home .bio p {
    font-size: 20px;
  }

  .home .socials ul {
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
  }

  /* recent work */

  .recent-work {
    width: 80%;
    margin: auto;
  }

  .recent-work .heading {
    flex-direction: row;
    margin: 135px 0 114px 0;
    justify-content: flex-start;
  }

  .recent-work .heading > .title {
    padding-top: 0;
  }

  .recent-work .line {
    margin: 0 auto;
    min-width: 65%;
  }

  .works {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 35px;
  }

  .works .main {
    display: flex;
    grid-column: 1 / 4;
  }

  .works .main .poster {
    width: 60%;
    transition: width 2s, height 2s;
  }

  .recent-work .works .description > .title {
    font-size: 40px;
  }

  .description > .about {
    font-size: 20px;
  }

  /* About Me */

  #about-me {
    background: #1c1a19 url("resources/About\ desktop\ wallpaper.png") 100% no-repeat;
  }

  #about-me .about-content {
    width: 80%;
  }

  #about-me .about-content .about-block {
    width: 50%;
  }

  #about-me .about-content .heading {
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  #about-me .about-content .bio {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 36px;
  }

  #about-me hr {
    width: 80%;
    margin: auto;
  }

  .personal-skill-content {
    width: 80%;
    margin: auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: unset;
  }

  /* contact form */

  #contact {
    width: 80%;
    flex-direction: row;
  }

  #contact .contact-heading {
    text-align: unset;
    width: 40%;
    margin-right: 50px;
    font-size: 40px;
    line-height: 52px;
  }

  #contact .form {
    flex-grow: 1;
  }

  .form form button {
    margin: 25px 0;
  }

  footer .mobile {
    display: none;
  }

  .home .socials i:hover {
    color: #e05304;
    transform: scale(2);
    transition: transform 0.8s;
  }
}
